*
!.gitignore
!.vimrc
!.Xdefaults
!.zshrc
!.xmonad
!.xmonad/xmonad.hs
!.xmonad/conkyrc
!.xmonad/calendar.sh
!.xmonad/theme.jpg
!.xmonad/icons
!.xmonad/icons/*
!.xmonad/blinker.pl
!.vimperatorrc
!.muttrc
!.mutt
!.mutt/vimrc
!.config
!.config/kitty/kitty.conf
!.config/mc
!.config/mc/ini
!.local/
!.local/share/
!.local/share/mc
!.local/share/mc/skins
!.local/share/mc/skins/mydark256.ini
