*
!.gitignore
!.vimrc
!.Xdefaults
!.zshrc
!.xmonad
!.xmonad/xmonad.hs
!.xmonad/conkyrc
!.xmonad/calendar.sh
!.xmonad/theme.jpg
!.xmonad/icons
!.xmonad/icons/*
!.xmonad/blinker.pl
!.vimperatorrc
!.muttrc
!.mutt
!.mutt/vimrc
